{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "@typescript-eslint/tslint",
    "jest",
    "jsdoc"
  ],
  "env": {
    "jest": true
  },
  "extends": [
    "airbnb-base",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/tslint/config": [
      "warn",
      {
        "rules": {
          "completed-docs": [
            true,
            {
              "functions": { "visibilities": ["exported"] },
              "types": { "visibilities": ["exported"] },
              "interfaces": { "visibilities": ["exported"] }
            }
          ]
        }
      }
    ],
    "@typescript-eslint/no-object-literal-type-assertion": 0,
    "import/prefer-default-export": 0,
    "@typescript-eslint/indent": 0,
    "import/no-unresolved": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "import/export": 0,
    "import/extensions": 0,
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      { "allowExpressions": true }
    ],
    "@typescript-eslint/array-type": ["error", { "default": "array-simple" }],

    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ]
  },
  "overrides": [
    {
      "files": ["test/**.ts"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/tslint/config": 0
      }
    },
    {
      "files": ["**.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": 0
      }
    }
  ]
}
