/node_modules/
packages/*/node_modules

# Type definitions are committed, required by TS project references
packages/*/lib/**/*.test.*
packages/*/lib/**/*.js
packages/*/lib/**/*.js.map
packages/*/src/**/*.js

*.log
.idea
*.sw?
*.tgz
.vscode/settings.json
*.test.d.*
.DS_Store
*.tsbuildinfo
